# Prerequisites:
# 1. Set your Vultr API key as an environment variable:
#    export VULTR_API_KEY=your_api_key_here

plugin: vultr.cloud.vultr
api_key: "{{ lookup('ansible.builtin.env', 'VULTR_API_KEY') }}"

# Optional: Filter by specific tags
# filters:
#   - tag: production

# Group hosts by region
keyed_groups:
  - key: vultr_region
    prefix: vultr_region
    parent_group: vultr_cloud
  - key: vultr_os
    prefix: vultr_os
    parent_group: vultr_cloud
  - key: vultr_tags
    prefix: vultr_tag
    parent_group: vultr_cloud
  - key: vultr_tags | default([]) | select('match', '^ansible_roles:') | map('regex_replace', '^ansible_roles:', '')
    prefix: role

# Add custom host variables
compose:
  ansible_host: vultr_v6_main_ip or vultr_main_ip
  public_ip: vultr_v6_main_ip or vultr_main_ip
  private_ip: vultr_internal_ip
  ansible_roles: vultr_tags | default([]) | select('match', '^ansible_roles:') | map('regex_replace', '^ansible_roles:', '') | list

# Use hostnames as inventory names
hostnames:
  - vultr_hostname
  - vultr_main_ip
